<%= @flavor.latte %>

<p>Delete Flavor</p>

<a href="flavors/edit">Edit Flavor</a>

<form action="flavors/<%= @flavor.id %>/delete" method="POST">
  <input type="hidden" id="hidden" name="_method" value="Delete">
  <input type="submit" name="submit" value="Delete Flavor" id="submit">
</form>
