<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <!-- Styles -->
  <link rel="stylesheet" href="/stylesheets/main.css" />

</head>
  <body>
    <div class="main">

        <h1>Create a New Latte</h1>

          <form action="/lattes" method="POST">
          <label>Latte Name:</label>
          <input type="text" name="name"><br>

          <label>Flavor:</label>
          <input type="text" name="flavor"></br>

          <label>Size:</label>
          <input type="text" name="size"></br>

          <label>Description:</label>
          <input type="text" name="description"></br>

          <input type="submit" value="Brew">
        </form>

      </body>
</html>
