<h1>Edit <%= @latte.name %></h1>

<form action="/latte/<%=@latte.id %>" method="POST">
  <label>Latte Name:</label>
  <input type="text" name="name" value="<%=@latte.name%>"><br>

  <label>Flavor:</label>
  <input type="text" name="flavor" value="<%=@latte.flavor%>"><br>

  <input type="submit" value="Update Latte">
</form>
