  html, body {
    font-size: 16px;
    height: 100%;
  }

  body {
    background-image: url("../images/concrete-texture.png");
    width: 100%;
  }

  /* --- Welcome Page Styles --- */

  h1 {
    color: black;
    font-family: monospace;
    font-size: 36px;
    text-align: center;
  }

  h2 {
    color: black;
    font-family: monospace;
    font-size: 24px;
    text-align: center;
  }

  h3 {
    text-align: center;
    color: black;
    font-size: 18px;
    font-family: monospace;
  }

  p {
    color: black;
    font-size: 16px;
    font-family: monospace;
    text-align: left;;
  }

  a {
    text-align: center;
    color: black;
    font-size: 14px;
    font-family: monospace;
  }

  .button {
    color: black;
    font-family: monospace;
    font-size: 14;
    letter-spacing: 2px;
    background-color: white;
    border: 2px solid black;
    border-radius: 30px;
    padding: 1rem 1rem;
    margin-top: 2rem;
    display: block;
    text-align: center;
  }

  .main {
    display: block;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input[type=submit] {
    background-color: white;
    color: black;
    padding: 1rem 1rem;
    margin-top: 2rem;
    cursor: pointer;
  }
