  html, body {
    font-size: 16px;
    height: 100%;
  }

  body {
    background-image: url("../images/concrete-texture.png");
    width: 100%;
  }

  /* --- Welcome Page Styles --- */

  h1 {
    color: black;
    font-family: monospace;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
  }

  h2 {
    border-bottom: 2px solid #ccc;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  p {
    margin-bottom: 18px;
  }

  .main {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .button {
    color: white;
    font-family: monospace;
    font-size: 12;
    letter-spacing: 2px;
    display: block;
  }
