<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <!-- Styles -->
  <link rel="stylesheet" href="/stylesheets/main.css" />

</head>
<body>
  <div class="main">

      <h1>Login to TatteLatte</h1>

        <form method="POST" action="/login">
        <input type="text" name="username" placeholder="Username:">
        <input type="text" name="password" placeholder="Password:">

        <input type="submit" value="submit">
      </form>

    </body>
</html>
