<h3>Welcome <%= @user.username %></h3>

<ul>
<li><p>What would you like to do today?</p></li>
<li><p><a href="/lattes">View All Lattes</a></p></li>
<li><p><a href="/lattes/new">Create New Latte</a></p></li>
<li><p><a href="/logout">Logout</a></p></li>
</ul>
