<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <!-- Styles -->
  <link rel="stylesheet" href="/stylesheets/main.css" />

    <title>TatteLatte</title>
</head>
<body>
  <div class="main">

    <h1>Welcome to TatteLatte</h1>

    <h3>Create and save your favorite coffee beverages</h3>

    <a href="/signup"><span class="button">SIGN UP</span></a>
    <a href="/login"><span class="button">LOG IN</span></a>
    <a href="/logout"><span class="button">LOG OUT</span></a>

  </div>


</body>
</html>
