<h1>Welcome to TatteLatte!</h2>

  <h3>Create and save your favorite coffee beverages</h3>

  <a href="/signup"><span class="button">Create A Latte</span></a>
  <a href="/login"><span class="button">Log In</span></a>

  
